.container1 {
    margin: auto 10px;
    width: auto;
    height: 850px;
    background-color: #4d7e80;
}

.container2 {
    background-color: #FFFFFF;
    border-style: double;
    border-color: #73008c;
    border-width: 1px;
    position: relative;
    left: 450px;
    top: 40px;
    width: 360px;
    height: 775px;
}

.name {
    padding-bottom: 15px;
    margin: 12px;
}

.container3 {
    background-color: #FFFFFF;
    border-color: #a8b3bd;
    border-style: solid;
    border-width: 1px;
    box-shadow: 6px 6px 5px #d3d3d3;
    width: 325px;
    height: 727px;
    padding-bottom: 15px;
    margin: 10px;
}



.image {
    padding-bottom: 15px;
}